@import "_variable.scss";
@import "_animation.scss";
@import "_reset.scss";
@import "_responsive.scss";


.news{
  &_body{
    &_sentence{
      &_titlebox{
        height: 100vh;
        width: 100vw;
        @include dispaly-center;
        flex-direction: column;
      }
      &_textbox{
      }
    }
  }
}
